<!doctype html><html><body>
<p><a href="/vault/{{.vault_id}}">← Back</a></p>
<h1>New Document ({{.schema.Title}} v{{.schema.Version}})</h1>
<form method="post" action="/vault/{{.vault_id}}/documents">
  <label>Title <input name="__title" placeholder="auto from first field if empty"></label><br>
  {{range .sd.Fields}}
    {{if eq .Type "text"}}
      <label>{{.Label}}<br><textarea name="{{.Name}}"></textarea></label><br>
    {{else if eq .Type "boolean"}}
      <label><input type="checkbox" name="{{.Name}}"> {{.Label}}</label><br>
    {{else if eq .Type "select"}}
      <label>{{.Label}}
        <select name="{{.Name}}">
          <option value=""></option>
          {{range .Enum}}<option value="{{.}}">{{.}}</option>{{end}}
        </select>
      </label><br>
    {{else if eq .Type "number"}}
      <label>{{.Label}} <input type="number" step="any" name="{{.Name}}"></label><br>
    {{else}}
      <label>{{.Label}} <input name="{{.Name}}"></label><br>
    {{end}}
  {{end}}
  <button>Create</button>
</form>
</body></html>
